<?php

$s = [
	'DEVELOPMENT_ENV' => true,
	// here goes your domain URL
	'DOMAIN' => 'http://kw',
	// name of your site, which will be displayed in the browser title field
	'PAGE_NAME' => 'Internationale Kurzfilmtage Winterthur',
	// time and date format definitions
	'DATE_FORMAT' => '%Y.%m.%d',
	'TIME_FORMAT' => '%H:%M',
	'DATETIME_FORMAT' => '%H:%M, %Y.%m.%d',
	// here goes your assets/util paths
	'DIRS' => [
		'ASSETS' => ROOT.DS.'public'.DS.'assets',
		'DOCUMENTS' => ROOT.DS.'public'.DS.'assets'.DS.'Document',
		'IMAGES' => ROOT.DS.'public'.DS.'assets'.DS.'Image',
		'CACHE' => ROOT.DS.'tmp'.DS.'cache',
		'LOGS' => ROOT.DS.'logs'
	],
	// set to value of seconds if you want the cache to expire
	'CACHE_EXPIRE' => false,
	// turn this off to set the attribute visibility to TRUE by default
	'SAFE_PUBLISHING' => false,
	'DB' => [
		// SQLite
		// 'TYPE' => 'SQLite',
		// or MySQL
		'TYPE' => 'MySQL',
		'HOST' => '127.0.0.1',
		'PORT' => '3306',
		'NAME' => 'kw_dev',
		'USER' => 'root',
		'PASSWORD' => 'root'
	],
	'MAILER' => [
		'SMTP_MODE' => false,
		// 'SMTP_HOST' => '',
		// 'SMTP_PORT' => '587',
		// 'SMTP_USERNAME' => '',
		// 'SMTP_PASSWORD' => '',
		// 'SMTP_PROTOCOL' => 'TLS',
		// enter the name you want your contact emails to be sent from
		'FROM_NAME' => 'Yourdomain Mailer',
		// enter the email address you want your contact emails to be sent from
		'FROM_EMAIL' => 'info@yourdomain',
		// tech support contact, will get errors
		'ERROR_EMAIL' => 'tech@yourdomain'
	]
	// DON'T TOUCH IF YOU DON'T KNOW WHAT YOU'RE DOING!
	'MEMORY_LIMIT' => '128M'
];

return $s;

?>