<?php

Nn::setDefaultController('publik');
Nn::setDefaultAction('index');

Nn::get('/admin\/nodes/','nodes');
Nn::post('/admin\/nodes/','nodes');
Nn::get('/admin\/roles/','roles');
Nn::post('/admin\/roles/','roles');
Nn::get('/admin\/users/','users');
Nn::post('/admin\/users/','users');
Nn::get('/admin\/files/','files');
Nn::post('/admin\/files/','files');
Nn::get('/admin\/settings/','settings');
Nn::post('/admin\/settings/','settings');
Nn::get('/admin\/nodetypes/','nodetypes');
Nn::post('/admin\/nodetypes/','nodetypes');
Nn::get('/admin\/attributes/','attributes');
Nn::post('/admin\/attributes/','attributes');
Nn::get('/admin\/attributetypes/','attributetypes');
Nn::post('/admin\/attributetypes/','attributetypes');
Nn::get('/admin\/documents/','documents');
Nn::post('/admin\/documents/','documents');
Nn::get('/admin\/images/','images');
Nn::post('/admin\/images/','images');
Nn::get('/admin\/texts/','texts');
Nn::post('/admin\/texts/','texts');
Nn::get('/admin\/feeds/','feeds');
Nn::post('/admin\/feeds/','feeds');
Nn::get('/admin\/forms/','forms');
Nn::post('/admin\/forms/','forms');
Nn::get('/admin\/integers/','integers');
Nn::post('/admin\/integers/','integers');
Nn::get('/admin\/keyvals/','keyvals');
Nn::post('/admin\/keyvals/','keyvals');
Nn::get('/admin/','admin');
Nn::get('/api/','api');

# Default routes
Nn::get('/404/','def/notFound');
Nn::get('/500/','def/error');
Nn::get('/placeholder\/(\d+)x(\d+)\/(\w+)\/(\w+)/','def/placeholder/\1/\2/\3/\4');
Nn::get('/assets\/Image\/(\d+)\/(.*)/','def/thumbnail/\1/\2');

# Public routes
Nn::get('/mobile/','publik/mobile');
Nn::get('/(\w+)/','publik/index/$1');