@font-face {
    font-family: 'Americane Condensed';
    src: url('../fonts/Americane/AmericaneCondensed-Italic-webfont.eot');
    src: url('../fonts/Americane/AmericaneCondensed-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Americane/AmericaneCondensed-Italic-webfont.woff2') format('woff2'),
         url('../fonts/Americane/AmericaneCondensed-Italic-webfont.woff') format('woff'),
         url('../fonts/Americane/AmericaneCondensed-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Americane/AmericaneCondensed-Italic-webfont.svg#americane_condenseditalic') format('svg');
    font-weight: 400;
    font-style: italic;

}




@font-face {
    font-family: 'Americane Condensed';
    src: url('../fonts/Americane/AmericaneCondensed-Light-webfont.eot');
    src: url('../fonts/Americane/AmericaneCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Americane/AmericaneCondensed-Light-webfont.woff2') format('woff2'),
         url('../fonts/Americane/AmericaneCondensed-Light-webfont.woff') format('woff'),
         url('../fonts/Americane/AmericaneCondensed-Light-webfont.ttf') format('truetype'),
         url('../fonts/Americane/AmericaneCondensed-Light-webfont.svg#americane_condensedlight') format('svg');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'Americane Condensed';
    src: url('../fonts/Americane/AmericaneCondensed-LightItalic-webfont.eot');
    src: url('../fonts/Americane/AmericaneCondensed-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Americane/AmericaneCondensed-LightItalic-webfont.woff2') format('woff2'),
         url('../fonts/Americane/AmericaneCondensed-LightItalic-webfont.woff') format('woff'),
         url('../fonts/Americane/AmericaneCondensed-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/Americane/AmericaneCondensed-LightItalic-webfont.svg#americane_condensedLtIt') format('svg');
    font-weight: 200;
    font-style: italic;

}




@font-face {
    font-family: 'Americane Condensed';
    src: url('../fonts/Americane/AmericaneCondensed-Regular-webfont.eot');
    src: url('../fonts/Americane/AmericaneCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Americane/AmericaneCondensed-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Americane/AmericaneCondensed-Regular-webfont.woff') format('woff'),
         url('../fonts/Americane/AmericaneCondensed-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Americane/AmericaneCondensed-Regular-webfont.svg#americane_condregular') format('svg');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'Americane';
    src: url('../fonts/Americane/Americane-Italic-webfont.eot');
    src: url('../fonts/Americane/Americane-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Americane/Americane-Italic-webfont.woff2') format('woff2'),
         url('../fonts/Americane/Americane-Italic-webfont.woff') format('woff'),
         url('../fonts/Americane/Americane-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Americane/Americane-Italic-webfont.svg#americaneitalic') format('svg');
    font-weight: 400;
    font-style: italic;

}




@font-face {
    font-family: 'Americane';
    src: url('../fonts/Americane/Americane-Light-webfont.eot');
    src: url('../fonts/Americane/Americane-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Americane/Americane-Light-webfont.woff2') format('woff2'),
         url('../fonts/Americane/Americane-Light-webfont.woff') format('woff'),
         url('../fonts/Americane/Americane-Light-webfont.ttf') format('truetype'),
         url('../fonts/Americane/Americane-Light-webfont.svg#americanelight') format('svg');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'Americane';
    src: url('../fonts/Americane/Americane-LightItalic-webfont.eot');
    src: url('../fonts/Americane/Americane-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Americane/Americane-LightItalic-webfont.woff2') format('woff2'),
         url('../fonts/Americane/Americane-LightItalic-webfont.woff') format('woff'),
         url('../fonts/Americane/Americane-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/Americane/Americane-LightItalic-webfont.svg#americanelight_italic') format('svg');
    font-weight: 200;
    font-style: italic;

}




@font-face {
    font-family: 'Americane';
    src: url('../fonts/Americane/Americane-Regular-webfont.eot');
    src: url('../fonts/Americane/Americane-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Americane/Americane-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Americane/Americane-Regular-webfont.woff') format('woff'),
         url('../fonts/Americane/Americane-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Americane/Americane-Regular-webfont.svg#americane_regularregular') format('svg');
    font-weight: 400;
    font-style: normal;

}