$scrollbarBG = #AAA
$scrollbarTrackBG = #EEE
$scrollbarThumbBG = #AAA

$scrollbarWidth = 8px
$scrollbarHeight = 12px


::-webkit-scrollbar
	width $scrollbarWidth
	height $scrollbarHeight

::-webkit-scrollbar-button
	background $scrollbarBG

::-webkit-scrollbar-track
	background $scrollbarTrackBG

::-webkit-scrollbar-track-piece
	background $scrollbarTrackBG

::-webkit-scrollbar-thumb
	background $scrollbarThumbBG
	height $scrollbarThumbHeight
	border-radius 0

::-webkit-scrollbar-corner
	background $scrollbarBG