- if($image = $slide->attribute('Image')):
	.slide
		.image
			:php
				|echo $image->data()->tag(1024)
		- if($sticker = $slide->attribute('Sticker')):
			.sticker(data-rotation="{{mt_rand(-8,8)}}")
				.text= $sticker->data()->content()
				.more
					span.label
						:php
							|echo Nn::babel('more').'...'
		- endif;
		.overlay.hidden.text
			- if(($video = $slide->attribute('Embed')) && ($text = $slide->attribute('Paragraph'))):
				.media
					- if($text):
						.text
							.content= $text->data()->content()
							.switcher(data-target="video")= Nn::babel('Watch video')
					- endif;
					- if($video):
						.video
							.content= $video->data()->content()
							.switcher(data-target="text")= Nn::babel('Read text')
					- endif;
			- endif;
			.close &times;