<!DOCTYPE html>

<html lang="en">

  <head>
  	
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  	
  	<!-- g.wm.tools verifier -->

    <base target="_blank" />

    <title> <?php echo PAGE_NAME ?> </title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <?php
      $platform = (Utils::is_mobile()) ? 'mobile' : 'desktop';
      $files = [
        'css/main.css',
      ];
      echo Nn::minify()->cssTags($files,'concat_'.$platform.'.css');
    ?>

  </head>

  <body id="body" class="">